const db = require('../models');
const io = require('../config/serwerConfig').io;

exports.addMessage = async (user, msg, timeStamp) => {
  try {
    await db.create({
      user: {
        name: user.name,
        color: user.color
      },
      msg,
      timeStamp
    })
  }
  catch (e) {
    console.log(e)
  }
};

exports.getAllMessages = async (page = 1) => {