* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

.content-wrapper {
    display       : flex;
    flex-direction: column;

    @media (min-width: 576px) {
        flex-direction: row;
    }
}